/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/09/2021, 06:34:52
    Author     : bruno
*/



.produto{
    border-style: dashed;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color:white;
    max-width: max-content;
    max-height: max-content;
    font-style: italic;
    font-size: medium;
    box-shadow: 5px 5px 10px blue;
    -webkit-box-shadow: 5px 5px 10px blue;
    -moz-box-shadow: 5px 5px 10px blue;
}

.imgproduto{
    border-radius: 0% 0% 0% 0%;
    padding: 10px;
    width: 300px;
    height: 300px;
    margin:0px;
}